:root {
    --main-bg-color: #f5f5f5;
    --container-bg-color: white;
    --color-primary: lightskyblue;
    --color-primary-dark: rgb(0, 0, 128);
}

body {
    position: relative;
    text-align: center;
    padding: 0em;
    max-width: 1700px;
    margin: 0;
    align-items: center;
}

.season-icon {

    width: 48px;
    height: 48px;
}

/* season styles*/

.summer .string-days,
.summer .today-caption {
    color: goldenrod;
}

.summer .season-icon {
    background-image: url("images/summer.jpeg");
}

.summer .today-cell>span {
    background-color: rgba(218, 165, 32, 0.5);

}

.summer .calendar-container {
    background-image: url("images/ice_cream_icon.png")
}

.autum .string-days,
.autum .today-caption {
    color: brown;
}

.autum .season-icon {
    background-image: url("images/autum.png");
}

.autum .today-cell>span {
    background-color: brown;
}

.autum .calendar-container {
    background-image: url("images/autum_background.png");
}

.winter .string-days,
.winter .today-caption {
    color: blue;
}

.winter .season-icon {
    background-image: url("images/winter.jpeg");
}

.winter .today-cell>span {
    background-color: blue
}

.winter .calendar-container {
    background-image: url("images/winter_background.png")
}

.spring .string-days,
.spring .today-caption {
    color: lightgreen;
}

.spring .season-icon {
    background-image: url("images/spring.png");
}

.spring .today-cell>span {
    background-color: lightgreen
}

.spring .calendar-container {
    background-image: url("images/spring_background.png");
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

.title {
    display: flex;
    color: lightgray;
    margin-left: 30px;
}

.title p {
    margin: 10px 0 0 10px;
}

.main-header {
    display: flex;
    position: relative;
    width: 100%;
    /*height: 200px;*/
    justify-content: space-between;
    align-items: center;
}

.modal-button {
    border-radius: 50%;
    /*background-color: var(--color-primary);*/
    background-color: black;
    color: white;
    font-size: 50px;
    width: 60px;
    height: 60px;
    margin-left: 50px;
}

main {
    margin: 20px;
    width: 1700px;
}


.string-days {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
    margin: auto;
    /*color: goldenrod*/
    ;
}

.string-days>span {
    text-align: center;
    margin: 0 auto;
    justify-content: space-between;
    font-size: 30px;
    width: 230px;
}

.calendar-container {
    width: 100%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    background-image: url("images/spring_background.png");
    background-size: 100vh;
    background-position: 50%;
    background-repeat: no-repeat;
}

.calendar-container>div {
    height: 160px;
    width: 230px;
    border-left: 1px solid black;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 20px;
    color: black;
}

.calendar-container>div:nth-child(7n) {
    border-right: 1px solid black;
}

.cell {
    font-size: 20px;
    color: black;
    overflow: hidden;
}

.cell:hover {
    overflow: visible;
}

.today-caption {
    font-size: 4em;
    /* margin-left: 100px;*/
    /* color: var(--color-primary);*/
    cursor: pointer;
    /*color: goldenrod;*/
}

.options {
    display: flex;
}

.month-year {
    margin: auto 5px;
    font-size: 1.5em;
    color: black;
}

.previous-next {
    width: 220px;
    display: flex;
}

.previous,
.next {
    position: relative;
    background-color: black;
    color: white;
    height: 25px;
    display: center;
    margin: auto;
    text-align: center;
    padding: 5px;
    cursor: pointer;

}

.previous:hover,
.next:hover {
    background-color: #ddd;
    color: black;
}

.round {
    border-radius: 5px;
}

.today-cell>span {
    width: 10px;
    height: 10px;
    /*background-color: rgba(0, 0, 255, 0.4)*/
    ;
    /*background-color: goldenrod;*/
    border-radius: 20px;
    padding: 10px;
    margin: 0 auto;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    font-size: 15px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    /* Position the tooltip */
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.icon {
    width: 32px;
    height: 32px;
}

/* modal event css*/

/* 1 - we create a semi-transparent background color with a transition */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s linear 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 32rem;
    height: 40rem;
    border-radius: 0.5rem;
}

.modal-check-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 32rem;
    height: 35rem;
    border-radius: 0.5rem;
}

.modal-check-event ul {
    display: flex;
    margin: 20px 0;

}

#check-title {
    margin-bottom: 50px;
}

.modal-check-event li {
    margin: 20px;
}

.modal-check-event .modal-check-event .modal-content {
    display: flex;
    flex-direction: column;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

/* modal event info*/


.modal-event {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s,
        opacity 0.25s linear 0s,
        transform 0
}

.modal-event-content {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 32rem;
    height: 40rem;
    border-radius: 0.5rem;

}


.info-window,
.event-expired,
.info-reminder {

    position: fixed;
    top: 40%;
    left: 40%;
    padding: 15px;
    font-size: 20px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    /*z-index: 10;
    /*visibility: hidden;*/
    transform: scale(1.1);
    opacity: 0;
    transition: visibility 0s linear 0.25s, opacity 0.25s linear 0s, transform 0.25s;

}

.info-window {

    top: 40%;
    left: 40%;
}

.event-expired {
    top: 20%;
    left: 7%
}

.event-expired ul {

    margin-right: 120px;

}

.event-expired>p {

    text-align: left;
    margin-left: 40px;

}


.event-expired ul li {

    display: flex;
    margin: 0;
    padding: 5px 0;

}

.container-reminder>div {

    margin: 10px;
}

.info-reminder>div {

    display: flex;
}

.info-reminder>div>p {

    margin-left: 15px;
}

.icon-clock {

    width: 48px;
    height: 48px;
    margin-top: 10px;
}

.show-modal,
.show-info {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    z-index: 2;
}

.checkbox-warning {
    margin: 5px 0 0 25px;
}

.button-form {
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
}

/*.modal-form {

    display: flex;
    flex-direction: column;
    justify-items: flex-start;

}
*/

.modal-form {
    position: frelative;
}

.modal-form label {
    margin: 5px;
}

.modal-form li {
    display: flex;
    justify-content: left;
    margin-top: 5px;
}

.modal-form ul {
    margin: 0px;
}

.modal-form input,
.modal-form textarea,
.modal-form datalist {
    position: absolute;
    margin-left: 100px;
}

.modal-form textarea {
    width: 250px;
    height: 100px;
    text-align: start;
}

.error-input {
    color: red;
    border: 2px solid red;
}

.error-msg {
    height: 1.3rem;
    padding: 1px 5px;
    font-size: 15px;
    background: #F9DDDD;
    color: #D48582;
    margin-top: 27px;
    position: absolute;
    margin-left: 100px;
    border-radius: 3px;
    vertical-align: baseline;
}

.error-msg p {
    /* padding-top: 0.4rem;
    padding-left: 0.2rem;
    */
    margin: auto;
}

/* event styles depending on event type chosen */

.default-event {

    border-radius: 10px;
    padding: 3px;
    font-size: 15px;
    z-index: 2;
    cursor: pointer;
}



.event-wrapper {

    width: 100%;
    margin-top: 9px;
}

.Meeting {

    background-color: rgba(0, 0, 255, 0.5);
}

.Meeting-event {

    color: rgba(0, 0, 255, 0.5);
}

.Personal {

    background-color: lightgreen;
}

.Personal-event {

    color: lightgreen;
}


.Study {

    background-color: yellow;
}

.Study-event {

    color: yellow;
}

.event-other {

    background-color: lightblue;
}

.general-event {

    color: lightBlue;
}

.Reminder {

    background-color: rgba(128, 0, 128, 0.5);
}

.Reminder-event {

    color: rgba(128, 0, 128, 0.5);
}

.event-warning {
    background-color: red;
}

.hidden {
    display: none !important;
}

/* responsiveness

TO DO : HIDE EVENTS  in the responsive media queries!! */

@media (max-width: 1600px) {

    main {

        width: 1500px;
    }

    .string-days>span {
        text-align: center;
        justify-content: space-between;
    }

    .calendar-container>div {
        width: 203px;
    }

}

@media (max-width: 1400px) {

    main {

        width: 1130px;
    }

    .string-days>span {
        text-align: center;
        justify-content: space-between;
    }

    .calendar-container>div {
        width: 150px;
    }
}

@media (max-width: 1100px) {

    main {
        width: 750px;
    }

    .string-days>span {
        text-align: center;
        justify-content: space-between;
    }

    .calendar-container>div {
        width: 101.4px;
    }
}

@media (max-width: 850px) {

    main {
        width: 650px;
    }

    .string-days>span {
        text-align: center;
        justify-content: space-between;
    }

    .calendar-container>div {
        width: 90px;
    }

    .season-icon {

        display: none;
    }

}

@media (max-width: 600px) {

    main {
        width: 425px;
    }

    .string-days>span {
        text-align: center;
        justify-content: space-between;
        font-size: 15px;
    }

    .calendar-container>div {
        width: 57.5px;
        height: 80px;
    }

    .previous-next {
        width: 140px;
        display: flex;
    }

}

@media (max-width: 500px) {

    .title {
        display: none;
    }
}

@media (max-height: 700px) {

    .calendar-container>div {
        height: 80px;
    }
}

@media (max-height: 550px) {

    .calendar-container>div {
        height: 40px;
        font-size: 15px;
    }
}

@media (max-height: 450px) {

    .tooltip {
        display: none;
    }

    .main-header {

        margin-left: 50vh;
        font-size: 10px;
    }

    .modal-button {

        width: 30px;
        height: 30px;
        font-size: 20px;
    }

    .title {
        display: none;
    }

}

@media (max-height: 300px) {

    .calendar-container>div {
        height: 25px;
        font-size: 10px;
    }

}