:root {
    --main-bg-color: #f5f5f5;
    --container-bg-color: white;
    --color-primary: lightskyblue;
    --color-primary-dark: rgb(0, 0, 128);
}


body {
    text-align: center;
    padding: 0em;
    font-family: 'headerFont';
    max-width: 1700px;
    margin: 0;

    align-items: center;
}

.title {
    display: flex;
    color: lightgray;
    margin-left: 30px;
}

.title p {

    margin: 10px 0 0 10px;


}


.main-header {
    display: flex;
    position: relative;
    width: 100%;
    /*height: 200px;*/
    justify-content: space-between;
    align-items: center;
}

.modal-button {
    border-radius: 50%;
    background-color: var(--color-primary);
    color: white;
    font-size: 50px;
    width: 60px;
    height: 60px;
    margin-left: 50px;
}

main {
    margin: 20px;
    width: 1700px;
}


.string-days {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
    margin: auto;
    color: gray;
}

.string-days>span {

    text-align: center;
    margin: 0 auto;
    justify-content: space-between;
    font-size: 30px;
}


.current-month {

    width: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 grey;
    height: 85%;
    font-size: 30px;
    color: lightgray;

}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.row div {


    height: 160px;
    width: 230px;
    border-left: 1px solid black;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 20px;
    color: black;

}

.row>div>div {

    margin-top: 50px;
}



.row>div>span {

    position: absolute;
    font-size: 20px;
    color: lightgray;
}



.today {
    font-size: 4em;
    /* margin-left: 100px;*/
    color: var(--color-primary);
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    font-size: 15px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.iconify {
    width: 32px;
    height: 32px;
}